Windows_Veterinario/Connected Services/ProxyEstadistica/DemoWCF_Veterinaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteEstadistica" nillable="true" type="tns:ClienteEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteEstadistica" nillable="true" type="tns:ArrayOfClienteEstadistica" />
  <xs:complexType name="ClienteEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultasTotales" type="xs:int" />
      <xs:element minOccurs="0" name="ape_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cli" type="xs:int" />
      <xs:element minOccurs="0" name="nom_cli" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEstadistica" nillable="true" type="tns:ClienteEstadistica" />
  <xs:complexType name="ArrayOfMascotasEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MascotasEstadistica" nillable="true" type="tns:MascotasEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMascotasEstadistica" nillable="true" type="tns:ArrayOfMascotasEstadistica" />
  <xs:complexType name="MascotasEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConsultasTotales" type="xs:int" />
      <xs:element minOccurs="0" name="cod_mascota" type="xs:int" />
      <xs:element minOccurs="0" name="nom_mascota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MascotasEstadistica" nillable="true" type="tns:MascotasEstadistica" />
  <xs:complexType name="ArrayOfMedicinaEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicinaEstadistica" nillable="true" type="tns:MedicinaEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicinaEstadistica" nillable="true" type="tns:ArrayOfMedicinaEstadistica" />
  <xs:complexType name="MedicinaEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadRecetadas" type="xs:int" />
      <xs:element minOccurs="0" name="cod_medicamento" type="xs:int" />
      <xs:element minOccurs="0" name="des_medicamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicinaEstadistica" nillable="true" type="tns:MedicinaEstadistica" />
  <xs:complexType name="ArrayOfConsultasEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultasEstadistica" nillable="true" type="tns:ConsultasEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultasEstadistica" nillable="true" type="tns:ArrayOfConsultasEstadistica" />
  <xs:complexType name="ConsultasEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consultas" type="xs:short" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Montos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultasEstadistica" nillable="true" type="tns:ConsultasEstadistica" />
</xs:schema>