Windows_Veterinario/Connected Services/ProxyEstadistica/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" />
  <xs:element name="TopAtencionesClientesMascotasXAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopAtencionesClientesMascotasXAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="TopAtencionesClientesMascotasXAñoResult" nillable="true" type="q1:ArrayOfClienteEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopAtencionesMascotasXAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopAtencionesMascotasXAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="TopAtencionesMascotasXAñoResult" nillable="true" type="q2:ArrayOfMascotasEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopMedicinasXAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopMedicinasXAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="TopMedicinasXAñoResult" nillable="true" type="q3:ArrayOfMedicinaEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasXAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasXAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ConsultasXAñoResult" nillable="true" type="q4:ArrayOfConsultasEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>