Windows_Veterinario/Connected Services/ProxyConsulta/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" />
  <xs:element name="ListarConsultasMascotaFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultasMascotaFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarConsultasMascotaFechasResult" nillable="true" type="q1:ArrayOfConsultaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultasVeterinarioFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultasVeterinarioFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarConsultasVeterinarioFechasResult" nillable="true" type="q2:ArrayOfConsultaDCVet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMascotasPorEspecie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMascotasPorEspecieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarMascotasPorEspecieResult" nillable="true" type="q3:ArrayOfConsultaDCEsp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultasClientesFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConsultasClientesFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarConsultasClientesFechasResult" nillable="true" type="q4:ArrayOfConsultaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>