Windows_Veterinario/Connected Services/ProxyVeterinario/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" />
  <xs:element name="ConsultarVeterinario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVeterinarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ConsultarVeterinarioResult" nillable="true" type="q1:VeterinarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVeterinario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVeterinarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarVeterinarioResult" nillable="true" type="q2:ArrayOfVeterinarioDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>