Windows_Veterinario/Connected Services/ProxyMascota/DemoWCF_Veterinaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MascotaDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ape_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="cod_esp" type="xs:short" />
      <xs:element minOccurs="0" name="cod_mascota" type="xs:int" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="des_esp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="est_mascota" type="xs:short" />
      <xs:element minOccurs="0" name="fec_Ult_Mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fec_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nom_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_mascota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexoLit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MascotaDC" nillable="true" type="tns:MascotaDC" />
  <xs:complexType name="MascotaInsertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="ape_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="cod_esp" type="xs:short" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="est_mascota" type="xs:short" />
      <xs:element minOccurs="0" name="fec_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nom_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_mascota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MascotaInsertar" nillable="true" type="tns:MascotaInsertar" />
  <xs:complexType name="MascotaActualizar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usu_Ult_Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ape_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="cod_esp" type="xs:short" />
      <xs:element minOccurs="0" name="cod_mascota" type="xs:int" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="est_mascota" type="xs:short" />
      <xs:element minOccurs="0" name="fec_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nom_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_mascota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MascotaActualizar" nillable="true" type="tns:MascotaActualizar" />
  <xs:complexType name="ArrayOfMascotaDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MascotaDC" nillable="true" type="tns:MascotaDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMascotaDC" nillable="true" type="tns:ArrayOfMascotaDC" />
  <xs:complexType name="ArrayOfEspecieDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspecieDC" nillable="true" type="tns:EspecieDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspecieDC" nillable="true" type="tns:ArrayOfEspecieDC" />
  <xs:complexType name="EspecieDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_esp" type="xs:int" />
      <xs:element minOccurs="0" name="des_esp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspecieDC" nillable="true" type="tns:EspecieDC" />
</xs:schema>