Windows_Veterinario/Connected Services/ProxyMascota/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" />
  <xs:element name="ConsultarMascota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ConsultarMascotaResult" nillable="true" type="q1:MascotaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMascota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="objMascotaDC" nillable="true" type="q2:MascotaInsertar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMascotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMascota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="objMascotaDC" nillable="true" type="q3:MascotaActualizar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMascotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMascota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMascotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMascota">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarMascotaResult" nillable="true" type="q4:ArrayOfMascotaDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DemoWCF_Veterinaria" minOccurs="0" name="ListarEspecieResult" nillable="true" type="q5:ArrayOfEspecieDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>